body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xl{
	padding:150px 50px;
}
.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Background Effects */

.b-parallax{
	background-attachment:fixed;
}

/* Disable Parallax on Mobile Touch Devices */
@media (hover: none) {
	.b-parallax{
	background-attachment:scroll;
}
}

/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
/* Dividers */

.b-divider{
	border-top:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid rgba(0,0,0,.1);
}


/* = NavBar
-------------------------------------------------------------- */

.hero .hero-nav{
	padding-left:inherit;
	padding-right:inherit;
}
.navbar-dark .nav .dropdown-menu .nav-link{
	color: rgb(64, 64, 64);
}
/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky{
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	 transition: all .2s ease-out;
}
/* Rounded Bars Menu Icon */
.navbar-light .menu-icon-rounded-bars .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-dark .menu-icon-rounded-bars .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Nav Special Classes */
.nav-special{
	overflow-y:scroll;
}
.nav-special .site-navigation{
	top:0;
	left:0;
	width:100%;
	position: relative!important;
	max-width: 100%!important;
	z-index: 1000;
}
.nav-special .nav > li{
	width:100%;
	background: none!important;
	border:0!important;
}
.nav-special.collapsing{
	-webkit-transition: none;
	transition: none;
	height:100%!important;
	background: none!important;
}
.nav-special .navbar-nav .show .dropdown-menu{
	position: relative!important;
	transform: none!important;
	float: none;
	width: 100%;
	margin-top: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
}
.nav-special .nav .dropdown-menu .nav-link{
	color:#FFF;
}
.blocsapp-special-menu{
	position: absolute;
	z-index:10000;
}
.nav-special.fullscreen-nav .caret,.nav-special.fullscreen-nav .dropdown-menu .dropdown .caret{
	border-width: 8px;
}
.nav-special .navbar-nav .show>.nav-link{
	color:#FFF;
}

/* Animate Menu Symbol */
.navbar-toggle{
	transition: all .1s linear;
}
.selected-nav{
	opacity: 0;
	transform: scale(0.3);
	transition: all .1s linear;
}


/* Special Menu Close Button */
.close-special-menu{
	position: fixed;
	display: block;
	width: 25px;
	height:25px;
	top:16px;
	right:10px;
	z-index: 10000;
}
.nav-invert .sidebar-nav .close-special-menu{
	left:260px;
}
.close-special-menu .close-icon{
	display: block;
	width:100%;
	height:1px;
	transform: rotate(45deg);
	margin-top:12px;
}
.close-special-menu .close-icon:after{
	content:"";
	display:inherit;
	width:inherit;
	height:inherit;
	background: inherit;
	transform: rotate(90deg);
}
.lock-scroll{
	overflow:hidden;
	transition: background .3s linear;
}
.nav-special::-webkit-scrollbar{
	-webkit-appearance: none;
	width:0;
	height:0;
}
.nav-special .dropdown-menu .dropdown .caret{
	border-top-color: rgba(255,255,255,.8);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	margin: 0 0 0 5px;
	float: none;
}
.blocsapp-special-menu .site-navigation.pull-right{
	float:none!important;
}

/* Nav Special Close Button */
.close-special-menu .close-icon{
	background:#fff;
}
.blocsapp-special-menu blocsnav{
	background: #000;
}

/* Side Bar Navigation */
.nav-special.sidebar-nav{
	position: fixed;
	right: -300px;
	top: 0;
	bottom: 0;
	width: 300px;
	z-index: 1000;
	transition: all .2s linear;
}
.nav-invert .nav-special.sidebar-nav{
	right: auto;
	left: -300px;
}
 .nav-special.sidebar-nav .site-navigation{
	margin-top:15px;
	padding-left:15px;
}
.nav-special.sidebar-nav .nav > li a{
	color:rgba(255,255,255,.8);
}
 .nav-special.sidebar-nav .nav > li a:hover{
	color:#FFF;
}
 .open.nav-special.sidebar-nav{
	right: 0;
	transition: all .2s linear;
}
.nav-invert .open.nav-special.sidebar-nav{
	left: 0;
	transition: all .2s linear;
}

/* Content Tint */
.content-tint{
	z-index: -1;
	transition: background .2s linear;
}
.content-tint.on{
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	z-index: 1001;
	background:rgba(0,0,0,.4);
}
.content-tint.on:hover{
	background:rgba(0,0,0,.1);
}
.navbar-toggle.menu-icon-rounded-bars{
	margin-top:7px!important;
}
/* Handle Multi Level Navigation */.navbar-light .navbar-nav .nav-link {
	color: rgb(64, 64, 64);
}
.btco-menu li > a {
	padding: 10px 15px;
	color: #000;
}
.btco-menu .active a:focus,.btco-menu li a:focus ,.navbar > .show > a:focus{
	background: transparent;
	outline: 0;
}
.dropdown-menu .show > .dropdown-toggle::after{
	transform: rotate(-90deg);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}


/* = Icons
-------------------------------------------------------------- */
.icon-lg{
	font-size:60px!important;
}




/* = Cards
-------------------------------------------------------------- */
.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}

/* = Dividers
-------------------------------------------------------------- */
.divider-h{
	padding:20px 0;
	width:100%;
	display:inline-block;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}
.dropdown-menu .divider-h,.dropdown-menu .divider-half{
	padding:0;
}


/* Scroll FX */
.scroll-fx-in-range{
	will-change: opacity;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1140px;
}
.div-divider{
	background-size:auto auto;
	border-style:solid;
	border-color:#0432FF!important;
	border-width:0px 2px 0px 0px;
}
.p-style{
	font-size:17px;
}
.card-body-style{
	height:170px;
	overflow:visible;
	float:none;
}
.left-card{
	margin-top:30%;
}
.right-card{
	margin-bottom:30%;
}
.h5-style{
	width:100%;
}
.h5-2016-style{
	font-size:30px;
}
.card-style{
	width:100%;
}
.h5-2017-style{
	font-size:30px;
}
.right-card:hover{
	;
}
.nav-hover:hover{
	border-style:solid;
	border-color:#FEFFFF!important;
	border-width:3px 3px 3px 3px;
}
.img-style{
	background-repeat:repeat;
	border-style:solid;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-color:#4C4C4C!important;
	height:250px;
	width:250px;
	border-width:2px 2px 2px 2px;
}
.div-icon{
	margin-bottom:20%;
}
.borderbox{
	border-style:solid;
	border-bottom-width:5px;
	border-left-width:0px;
}
.h1-style{
	font-size:41px;
	width:100%;
}
.bottom-padding{
	padding-bottom:5%;
}
.card-mobile-margin-bottom{
	margin-bottom:5%;
}
.h4-style{
	opacity:1.0;
}
.hover-enlarge:hover{
	background-position:left center;
	background-repeat:repeat;
	border-style:solid;
	padding:0% 0% 0% 0%;
	border-radius:6px 6px 6px 6px;
	border-width:4px 4px 4px 4px;
}
.projects-padding-bottom{
	padding-bottom:7%;
}
.card-border{
	border-style:solid;
	border-color:#C83620!important;
	border-radius:7px 7px 7px 7px;
	border-width:3px 3px 3px 3px;
}
.icon-padding-bottom{
	padding-bottom:20%;
}
.divider-padding{
	padding-top:12px;
	padding-bottom:12px;
}
.card-border-cyan{
	border-color:#73F8FC!important;
	border-radius:6px 6px 6px 6px;
	border-width:3px 3px 3px 3px;
}
.card-header-style{
	opacity:1.0;
	border-right-width:0px;
	border-color:#EB4024!important;
	border-style:solid;
}
.card-header-border-bottom-tomato{
	border-style:solid;
	border-color:#C83620!important;
	border-width:0px 0px 3px 0px;
}
.card-header-border-bottom-cyan{
	border-style:solid;
	border-color:#73F8FC!important;
	border-width:0px 0px 3px 0px;
}
.icon-hover:hover{
	background-color:transparent;
	border-color:rgba(0,0,0,0.0)!important;
	border-style:solid;
	color:#C83620!important;
	border-width:3px 3px 3px 3px;
}
.img-projects-web-style{
	height:250px;
	width:250px;
}
.img-django-origin-style{
	height:250px;
	width:250px;
}
.img-entity-logo-style{
	height:250px;
	width:250px;
}
.img-23-style{
	height:250px;
	width:250px;
}
.list-color{
	background-color:#000000;
	border-style:solid;
	border-color:#EB4024!important;
	background:linear-gradient(0deg, #000000, #121315);
	text-shadow:0px 0px 0px #000000;
}
.top-padding{
	padding-top:50px;
}
.link-style{
	font-family:"Berkshire Swash";
	font-weight:400;
}
.font-style{
	font-family:"Montserrat";
	font-weight:normal;
}
.hamburger-menu{
	background-color:#AEAEAE;
	width:10%;
	height:30px;
	border-style:solid;
	border-color:#EB4024!important;
	background-position:right top;
	font-family:"Montserrat";
	text-transform:none;
	margin-right:10%;
	float:right;
}
.font-weight-500{
	font-family:"Montserrat";
	font-weight:900;
}
.animation-scroll-faster{
	margin-top:-25%;
	padding-top:25%;
}
.logo-center{
	margin-left:42%;
}
.navbar-brand img{
	height:80px;
	width:80px;
}
.card-hover:hover{
	border-style:solid;
	border-color:#BDBDBD!important;
	border-width:3px 3px 3px 3px;
}
.h4-heading-4-style{
	opacity:0.7;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-black{
	background-color:#000000;
}
.bgc-onyx{
	background-color:#111111;
}
.bgc-dark-jungle-green{
	background-color:#212121;
}
.bgc-black-2{
	background-color:#000000;
}

/* Text colour styles */

.tc-dark-pastel-red{
	color:#C83620!important;
}
.tc-white{
	color:#FFFFFF!important;
}
.tc-white-2{
	color:#FFFFFF!important;
}
.tc-dark-gray{
	color:#AEAEAE!important;
}

/* Button colour styles */

.btn-dark-gray{
	background:#AEAEAE;
	color:#FFFFFF!important;
}
.btn-dark-gray:hover{
	background:#8b8b8b!important;
	color:#FFFFFF!important;
}

/* Link colour styles */

.ltc-dark-gray{
	color:#AEAEAE!important;
}
.ltc-dark-gray:hover{
	color:#8b8b8b!important;
}

/* Icon colour styles */

.icon-dark-gray{
	color:#AEAEAE!important;
	border-color:#AEAEAE!important;
}

/* Bloc image backgrounds */

.bg-center-gray-line{
	background-image:url("img/center-gray-line.png");
}
.bg-background-devsite-12{
	background-image:url("img/background-devsite-12.png");
}

/* = Custom Bric Data
-------------------------------------------------------------- */

.img-text-overlay-container{
	position:relative;
}
.text-label-overlay{
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	width:100%;
	 text-align:center;
	font-size:40px;
}
.text-overlay-light-text{
	color:rgba(255,255,255,.5);
}
.img-text-overlay-container{
	position:relative;
}
.text-label-overlay{
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	width:100%;
	 text-align:center;
	font-size:40px;
}
.text-overlay-light-text{
	color:rgba(255,255,255,.5);
}
/**************************************************************** * * CSS Percentage Circle * Author: Andre Firchow ******************************************************************/.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
	  clip: rect(auto, auto, auto, auto);
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
	  position: absolute;
	  border: 0.08em solid #307bbb;
	  width: 0.84em;
	  height: 0.84em;
	  clip: rect(0em, 0.5em, 1em, 0em);
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -ms-border-radius: 50%;
	  -o-border-radius: 50%;
	  border-radius: 50%;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
}
.pie-fill, .c100.p51 .bar:after, .c100.p51 .fill, .c100.p52 .bar:after, .c100.p52 .fill, .c100.p53 .bar:after, .c100.p53 .fill, .c100.p54 .bar:after, .c100.p54 .fill, .c100.p55 .bar:after, .c100.p55 .fill, .c100.p56 .bar:after, .c100.p56 .fill, .c100.p57 .bar:after, .c100.p57 .fill, .c100.p58 .bar:after, .c100.p58 .fill, .c100.p59 .bar:after, .c100.p59 .fill, .c100.p60 .bar:after, .c100.p60 .fill, .c100.p61 .bar:after, .c100.p61 .fill, .c100.p62 .bar:after, .c100.p62 .fill, .c100.p63 .bar:after, .c100.p63 .fill, .c100.p64 .bar:after, .c100.p64 .fill, .c100.p65 .bar:after, .c100.p65 .fill, .c100.p66 .bar:after, .c100.p66 .fill, .c100.p67 .bar:after, .c100.p67 .fill, .c100.p68 .bar:after, .c100.p68 .fill, .c100.p69 .bar:after, .c100.p69 .fill, .c100.p70 .bar:after, .c100.p70 .fill, .c100.p71 .bar:after, .c100.p71 .fill, .c100.p72 .bar:after, .c100.p72 .fill, .c100.p73 .bar:after, .c100.p73 .fill, .c100.p74 .bar:after, .c100.p74 .fill, .c100.p75 .bar:after, .c100.p75 .fill, .c100.p76 .bar:after, .c100.p76 .fill, .c100.p77 .bar:after, .c100.p77 .fill, .c100.p78 .bar:after, .c100.p78 .fill, .c100.p79 .bar:after, .c100.p79 .fill, .c100.p80 .bar:after, .c100.p80 .fill, .c100.p81 .bar:after, .c100.p81 .fill, .c100.p82 .bar:after, .c100.p82 .fill, .c100.p83 .bar:after, .c100.p83 .fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p85 .bar:after, .c100.p85 .fill, .c100.p86 .bar:after, .c100.p86 .fill, .c100.p87 .bar:after, .c100.p87 .fill, .c100.p88 .bar:after, .c100.p88 .fill, .c100.p89 .bar:after, .c100.p89 .fill, .c100.p90 .bar:after, .c100.p90 .fill, .c100.p91 .bar:after, .c100.p91 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p93 .bar:after, .c100.p93 .fill, .c100.p94 .bar:after, .c100.p94 .fill, .c100.p95 .bar:after, .c100.p95 .fill, .c100.p96 .bar:after, .c100.p96 .fill, .c100.p97 .bar:after, .c100.p97 .fill, .c100.p98 .bar:after, .c100.p98 .fill, .c100.p99 .bar:after, .c100.p99 .fill, .c100.p100 .bar:after, .c100.p100 .fill {
	  -webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	  -o-transform: rotate(180deg);
	  transform: rotate(180deg);
}
.c100 {
	  position: relative;
	  font-size: 120px;
	  width: 1em;
	  height: 1em;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -ms-border-radius: 50%;
	  -o-border-radius: 50%;
	  border-radius: 50%;
	  float: left;
	  margin: 0 0.1em 0.1em 0;
	  background-color: #cccccc;
}
.c100 *, .c100 *:before, .c100 *:after {
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
}
.c100.center {
	  float: none;
	  margin: 0 auto;
}
.c100.big {
	  font-size: 240px;
}
.c100.small {
	  font-size: 80px;
}
.c100 > span {
	  position: absolute;
	  width: 100%;
	  z-index: 1;
	  left: 0;
	  top: 0;
	  width: 5em;
	  line-height: 5em;
	  font-size: 0.2em;
	  color: #cccccc;
	  display: block;
	  text-align: center;
	  white-space: nowrap;
	  -webkit-transition-property: all;
	  -moz-transition-property: all;
	  -o-transition-property: all;
	  transition-property: all;
	  -webkit-transition-duration: 0.2s;
	  -moz-transition-duration: 0.2s;
	  -o-transition-duration: 0.2s;
	  transition-duration: 0.2s;
	  -webkit-transition-timing-function: ease-out;
	  -moz-transition-timing-function: ease-out;
	  -o-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
}
.c100:after {
	  position: absolute;
	  top: 0.08em;
	  left: 0.08em;
	  display: block;
	  content: " ";
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -ms-border-radius: 50%;
	  -o-border-radius: 50%;
	  border-radius: 50%;
	  background-color: whitesmoke;
	  width: 0.84em;
	  height: 0.84em;
	  -webkit-transition-property: all;
	  -moz-transition-property: all;
	  -o-transition-property: all;
	  transition-property: all;
	  -webkit-transition-duration: 0.2s;
	  -moz-transition-duration: 0.2s;
	  -o-transition-duration: 0.2s;
	  transition-duration: 0.2s;
	  -webkit-transition-timing-function: ease-in;
	  -moz-transition-timing-function: ease-in;
	  -o-transition-timing-function: ease-in;
	  transition-timing-function: ease-in;
}
.c100 .slice {
	  position: absolute;
	  width: 1em;
	  height: 1em;
	  clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p1 .bar {
	  -webkit-transform: rotate(3.6deg);
	  -moz-transform: rotate(3.6deg);
	  -ms-transform: rotate(3.6deg);
	  -o-transform: rotate(3.6deg);
	  transform: rotate(3.6deg);
}
.c100.p2 .bar {
	  -webkit-transform: rotate(7.2deg);
	  -moz-transform: rotate(7.2deg);
	  -ms-transform: rotate(7.2deg);
	  -o-transform: rotate(7.2deg);
	  transform: rotate(7.2deg);
}
.c100.p3 .bar {
	  -webkit-transform: rotate(10.8deg);
	  -moz-transform: rotate(10.8deg);
	  -ms-transform: rotate(10.8deg);
	  -o-transform: rotate(10.8deg);
	  transform: rotate(10.8deg);
}
.c100.p4 .bar {
	  -webkit-transform: rotate(14.4deg);
	  -moz-transform: rotate(14.4deg);
	  -ms-transform: rotate(14.4deg);
	  -o-transform: rotate(14.4deg);
	  transform: rotate(14.4deg);
}
.c100.p5 .bar {
	  -webkit-transform: rotate(18deg);
	  -moz-transform: rotate(18deg);
	  -ms-transform: rotate(18deg);
	  -o-transform: rotate(18deg);
	  transform: rotate(18deg);
}
.c100.p6 .bar {
	  -webkit-transform: rotate(21.6deg);
	  -moz-transform: rotate(21.6deg);
	  -ms-transform: rotate(21.6deg);
	  -o-transform: rotate(21.6deg);
	  transform: rotate(21.6deg);
}
.c100.p7 .bar {
	  -webkit-transform: rotate(25.2deg);
	  -moz-transform: rotate(25.2deg);
	  -ms-transform: rotate(25.2deg);
	  -o-transform: rotate(25.2deg);
	  transform: rotate(25.2deg);
}
.c100.p8 .bar {
	  -webkit-transform: rotate(28.8deg);
	  -moz-transform: rotate(28.8deg);
	  -ms-transform: rotate(28.8deg);
	  -o-transform: rotate(28.8deg);
	  transform: rotate(28.8deg);
}
.c100.p9 .bar {
	  -webkit-transform: rotate(32.4deg);
	  -moz-transform: rotate(32.4deg);
	  -ms-transform: rotate(32.4deg);
	  -o-transform: rotate(32.4deg);
	  transform: rotate(32.4deg);
}
.c100.p10 .bar {
	  -webkit-transform: rotate(36deg);
	  -moz-transform: rotate(36deg);
	  -ms-transform: rotate(36deg);
	  -o-transform: rotate(36deg);
	  transform: rotate(36deg);
}
.c100.p11 .bar {
	  -webkit-transform: rotate(39.6deg);
	  -moz-transform: rotate(39.6deg);
	  -ms-transform: rotate(39.6deg);
	  -o-transform: rotate(39.6deg);
	  transform: rotate(39.6deg);
}
.c100.p12 .bar {
	  -webkit-transform: rotate(43.2deg);
	  -moz-transform: rotate(43.2deg);
	  -ms-transform: rotate(43.2deg);
	  -o-transform: rotate(43.2deg);
	  transform: rotate(43.2deg);
}
.c100.p13 .bar {
	  -webkit-transform: rotate(46.8deg);
	  -moz-transform: rotate(46.8deg);
	  -ms-transform: rotate(46.8deg);
	  -o-transform: rotate(46.8deg);
	  transform: rotate(46.8deg);
}
.c100.p14 .bar {
	  -webkit-transform: rotate(50.4deg);
	  -moz-transform: rotate(50.4deg);
	  -ms-transform: rotate(50.4deg);
	  -o-transform: rotate(50.4deg);
	  transform: rotate(50.4deg);
}
.c100.p15 .bar {
	  -webkit-transform: rotate(54deg);
	  -moz-transform: rotate(54deg);
	  -ms-transform: rotate(54deg);
	  -o-transform: rotate(54deg);
	  transform: rotate(54deg);
}
.c100.p16 .bar {
	  -webkit-transform: rotate(57.6deg);
	  -moz-transform: rotate(57.6deg);
	  -ms-transform: rotate(57.6deg);
	  -o-transform: rotate(57.6deg);
	  transform: rotate(57.6deg);
}
.c100.p17 .bar {
	  -webkit-transform: rotate(61.2deg);
	  -moz-transform: rotate(61.2deg);
	  -ms-transform: rotate(61.2deg);
	  -o-transform: rotate(61.2deg);
	  transform: rotate(61.2deg);
}
.c100.p18 .bar {
	  -webkit-transform: rotate(64.8deg);
	  -moz-transform: rotate(64.8deg);
	  -ms-transform: rotate(64.8deg);
	  -o-transform: rotate(64.8deg);
	  transform: rotate(64.8deg);
}
.c100.p19 .bar {
	  -webkit-transform: rotate(68.4deg);
	  -moz-transform: rotate(68.4deg);
	  -ms-transform: rotate(68.4deg);
	  -o-transform: rotate(68.4deg);
	  transform: rotate(68.4deg);
}
.c100.p20 .bar {
	  -webkit-transform: rotate(72deg);
	  -moz-transform: rotate(72deg);
	  -ms-transform: rotate(72deg);
	  -o-transform: rotate(72deg);
	  transform: rotate(72deg);
}
.c100.p21 .bar {
	  -webkit-transform: rotate(75.6deg);
	  -moz-transform: rotate(75.6deg);
	  -ms-transform: rotate(75.6deg);
	  -o-transform: rotate(75.6deg);
	  transform: rotate(75.6deg);
}
.c100.p22 .bar {
	  -webkit-transform: rotate(79.2deg);
	  -moz-transform: rotate(79.2deg);
	  -ms-transform: rotate(79.2deg);
	  -o-transform: rotate(79.2deg);
	  transform: rotate(79.2deg);
}
.c100.p23 .bar {
	  -webkit-transform: rotate(82.8deg);
	  -moz-transform: rotate(82.8deg);
	  -ms-transform: rotate(82.8deg);
	  -o-transform: rotate(82.8deg);
	  transform: rotate(82.8deg);
}
.c100.p24 .bar {
	  -webkit-transform: rotate(86.4deg);
	  -moz-transform: rotate(86.4deg);
	  -ms-transform: rotate(86.4deg);
	  -o-transform: rotate(86.4deg);
	  transform: rotate(86.4deg);
}
.c100.p25 .bar {
	  -webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  transform: rotate(90deg);
}
.c100.p26 .bar {
	  -webkit-transform: rotate(93.6deg);
	  -moz-transform: rotate(93.6deg);
	  -ms-transform: rotate(93.6deg);
	  -o-transform: rotate(93.6deg);
	  transform: rotate(93.6deg);
}
.c100.p27 .bar {
	  -webkit-transform: rotate(97.2deg);
	  -moz-transform: rotate(97.2deg);
	  -ms-transform: rotate(97.2deg);
	  -o-transform: rotate(97.2deg);
	  transform: rotate(97.2deg);
}
.c100.p28 .bar {
	  -webkit-transform: rotate(100.8deg);
	  -moz-transform: rotate(100.8deg);
	  -ms-transform: rotate(100.8deg);
	  -o-transform: rotate(100.8deg);
	  transform: rotate(100.8deg);
}
.c100.p29 .bar {
	  -webkit-transform: rotate(104.4deg);
	  -moz-transform: rotate(104.4deg);
	  -ms-transform: rotate(104.4deg);
	  -o-transform: rotate(104.4deg);
	  transform: rotate(104.4deg);
}
.c100.p30 .bar {
	  -webkit-transform: rotate(108deg);
	  -moz-transform: rotate(108deg);
	  -ms-transform: rotate(108deg);
	  -o-transform: rotate(108deg);
	  transform: rotate(108deg);
}
.c100.p31 .bar {
	  -webkit-transform: rotate(111.6deg);
	  -moz-transform: rotate(111.6deg);
	  -ms-transform: rotate(111.6deg);
	  -o-transform: rotate(111.6deg);
	  transform: rotate(111.6deg);
}
.c100.p32 .bar {
	  -webkit-transform: rotate(115.2deg);
	  -moz-transform: rotate(115.2deg);
	  -ms-transform: rotate(115.2deg);
	  -o-transform: rotate(115.2deg);
	  transform: rotate(115.2deg);
}
.c100.p33 .bar {
	  -webkit-transform: rotate(118.8deg);
	  -moz-transform: rotate(118.8deg);
	  -ms-transform: rotate(118.8deg);
	  -o-transform: rotate(118.8deg);
	  transform: rotate(118.8deg);
}
.c100.p34 .bar {
	  -webkit-transform: rotate(122.4deg);
	  -moz-transform: rotate(122.4deg);
	  -ms-transform: rotate(122.4deg);
	  -o-transform: rotate(122.4deg);
	  transform: rotate(122.4deg);
}
.c100.p35 .bar {
	  -webkit-transform: rotate(126deg);
	  -moz-transform: rotate(126deg);
	  -ms-transform: rotate(126deg);
	  -o-transform: rotate(126deg);
	  transform: rotate(126deg);
}
.c100.p36 .bar {
	  -webkit-transform: rotate(129.6deg);
	  -moz-transform: rotate(129.6deg);
	  -ms-transform: rotate(129.6deg);
	  -o-transform: rotate(129.6deg);
	  transform: rotate(129.6deg);
}
.c100.p37 .bar {
	  -webkit-transform: rotate(133.2deg);
	  -moz-transform: rotate(133.2deg);
	  -ms-transform: rotate(133.2deg);
	  -o-transform: rotate(133.2deg);
	  transform: rotate(133.2deg);
}
.c100.p38 .bar {
	  -webkit-transform: rotate(136.8deg);
	  -moz-transform: rotate(136.8deg);
	  -ms-transform: rotate(136.8deg);
	  -o-transform: rotate(136.8deg);
	  transform: rotate(136.8deg);
}
.c100.p39 .bar {
	  -webkit-transform: rotate(140.4deg);
	  -moz-transform: rotate(140.4deg);
	  -ms-transform: rotate(140.4deg);
	  -o-transform: rotate(140.4deg);
	  transform: rotate(140.4deg);
}
.c100.p40 .bar {
	  -webkit-transform: rotate(144deg);
	  -moz-transform: rotate(144deg);
	  -ms-transform: rotate(144deg);
	  -o-transform: rotate(144deg);
	  transform: rotate(144deg);
}
.c100.p41 .bar {
	  -webkit-transform: rotate(147.6deg);
	  -moz-transform: rotate(147.6deg);
	  -ms-transform: rotate(147.6deg);
	  -o-transform: rotate(147.6deg);
	  transform: rotate(147.6deg);
}
.c100.p42 .bar {
	  -webkit-transform: rotate(151.2deg);
	  -moz-transform: rotate(151.2deg);
	  -ms-transform: rotate(151.2deg);
	  -o-transform: rotate(151.2deg);
	  transform: rotate(151.2deg);
}
.c100.p43 .bar {
	  -webkit-transform: rotate(154.8deg);
	  -moz-transform: rotate(154.8deg);
	  -ms-transform: rotate(154.8deg);
	  -o-transform: rotate(154.8deg);
	  transform: rotate(154.8deg);
}
.c100.p44 .bar {
	  -webkit-transform: rotate(158.4deg);
	  -moz-transform: rotate(158.4deg);
	  -ms-transform: rotate(158.4deg);
	  -o-transform: rotate(158.4deg);
	  transform: rotate(158.4deg);
}
.c100.p45 .bar {
	  -webkit-transform: rotate(162deg);
	  -moz-transform: rotate(162deg);
	  -ms-transform: rotate(162deg);
	  -o-transform: rotate(162deg);
	  transform: rotate(162deg);
}
.c100.p46 .bar {
	  -webkit-transform: rotate(165.6deg);
	  -moz-transform: rotate(165.6deg);
	  -ms-transform: rotate(165.6deg);
	  -o-transform: rotate(165.6deg);
	  transform: rotate(165.6deg);
}
.c100.p47 .bar {
	  -webkit-transform: rotate(169.2deg);
	  -moz-transform: rotate(169.2deg);
	  -ms-transform: rotate(169.2deg);
	  -o-transform: rotate(169.2deg);
	  transform: rotate(169.2deg);
}
.c100.p48 .bar {
	  -webkit-transform: rotate(172.8deg);
	  -moz-transform: rotate(172.8deg);
	  -ms-transform: rotate(172.8deg);
	  -o-transform: rotate(172.8deg);
	  transform: rotate(172.8deg);
}
.c100.p49 .bar {
	  -webkit-transform: rotate(176.4deg);
	  -moz-transform: rotate(176.4deg);
	  -ms-transform: rotate(176.4deg);
	  -o-transform: rotate(176.4deg);
	  transform: rotate(176.4deg);
}
.c100.p50 .bar {
	  -webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	  -o-transform: rotate(180deg);
	  transform: rotate(180deg);
}
.c100.p51 .bar {
	  -webkit-transform: rotate(183.6deg);
	  -moz-transform: rotate(183.6deg);
	  -ms-transform: rotate(183.6deg);
	  -o-transform: rotate(183.6deg);
	  transform: rotate(183.6deg);
}
.c100.p52 .bar {
	  -webkit-transform: rotate(187.2deg);
	  -moz-transform: rotate(187.2deg);
	  -ms-transform: rotate(187.2deg);
	  -o-transform: rotate(187.2deg);
	  transform: rotate(187.2deg);
}
.c100.p53 .bar {
	  -webkit-transform: rotate(190.8deg);
	  -moz-transform: rotate(190.8deg);
	  -ms-transform: rotate(190.8deg);
	  -o-transform: rotate(190.8deg);
	  transform: rotate(190.8deg);
}
.c100.p54 .bar {
	  -webkit-transform: rotate(194.4deg);
	  -moz-transform: rotate(194.4deg);
	  -ms-transform: rotate(194.4deg);
	  -o-transform: rotate(194.4deg);
	  transform: rotate(194.4deg);
}
.c100.p55 .bar {
	  -webkit-transform: rotate(198deg);
	  -moz-transform: rotate(198deg);
	  -ms-transform: rotate(198deg);
	  -o-transform: rotate(198deg);
	  transform: rotate(198deg);
}
.c100.p56 .bar {
	  -webkit-transform: rotate(201.6deg);
	  -moz-transform: rotate(201.6deg);
	  -ms-transform: rotate(201.6deg);
	  -o-transform: rotate(201.6deg);
	  transform: rotate(201.6deg);
}
.c100.p57 .bar {
	  -webkit-transform: rotate(205.2deg);
	  -moz-transform: rotate(205.2deg);
	  -ms-transform: rotate(205.2deg);
	  -o-transform: rotate(205.2deg);
	  transform: rotate(205.2deg);
}
.c100.p58 .bar {
	  -webkit-transform: rotate(208.8deg);
	  -moz-transform: rotate(208.8deg);
	  -ms-transform: rotate(208.8deg);
	  -o-transform: rotate(208.8deg);
	  transform: rotate(208.8deg);
}
.c100.p59 .bar {
	  -webkit-transform: rotate(212.4deg);
	  -moz-transform: rotate(212.4deg);
	  -ms-transform: rotate(212.4deg);
	  -o-transform: rotate(212.4deg);
	  transform: rotate(212.4deg);
}
.c100.p60 .bar {
	  -webkit-transform: rotate(216deg);
	  -moz-transform: rotate(216deg);
	  -ms-transform: rotate(216deg);
	  -o-transform: rotate(216deg);
	  transform: rotate(216deg);
}
.c100.p61 .bar {
	  -webkit-transform: rotate(219.6deg);
	  -moz-transform: rotate(219.6deg);
	  -ms-transform: rotate(219.6deg);
	  -o-transform: rotate(219.6deg);
	  transform: rotate(219.6deg);
}
.c100.p62 .bar {
	  -webkit-transform: rotate(223.2deg);
	  -moz-transform: rotate(223.2deg);
	  -ms-transform: rotate(223.2deg);
	  -o-transform: rotate(223.2deg);
	  transform: rotate(223.2deg);
}
.c100.p63 .bar {
	  -webkit-transform: rotate(226.8deg);
	  -moz-transform: rotate(226.8deg);
	  -ms-transform: rotate(226.8deg);
	  -o-transform: rotate(226.8deg);
	  transform: rotate(226.8deg);
}
.c100.p64 .bar {
	  -webkit-transform: rotate(230.4deg);
	  -moz-transform: rotate(230.4deg);
	  -ms-transform: rotate(230.4deg);
	  -o-transform: rotate(230.4deg);
	  transform: rotate(230.4deg);
}
.c100.p65 .bar {
	  -webkit-transform: rotate(234deg);
	  -moz-transform: rotate(234deg);
	  -ms-transform: rotate(234deg);
	  -o-transform: rotate(234deg);
	  transform: rotate(234deg);
}
.c100.p66 .bar {
	  -webkit-transform: rotate(237.6deg);
	  -moz-transform: rotate(237.6deg);
	  -ms-transform: rotate(237.6deg);
	  -o-transform: rotate(237.6deg);
	  transform: rotate(237.6deg);
}
.c100.p67 .bar {
	  -webkit-transform: rotate(241.2deg);
	  -moz-transform: rotate(241.2deg);
	  -ms-transform: rotate(241.2deg);
	  -o-transform: rotate(241.2deg);
	  transform: rotate(241.2deg);
}
.c100.p68 .bar {
	  -webkit-transform: rotate(244.8deg);
	  -moz-transform: rotate(244.8deg);
	  -ms-transform: rotate(244.8deg);
	  -o-transform: rotate(244.8deg);
	  transform: rotate(244.8deg);
}
.c100.p69 .bar {
	  -webkit-transform: rotate(248.4deg);
	  -moz-transform: rotate(248.4deg);
	  -ms-transform: rotate(248.4deg);
	  -o-transform: rotate(248.4deg);
	  transform: rotate(248.4deg);
}
.c100.p70 .bar {
	  -webkit-transform: rotate(252deg);
	  -moz-transform: rotate(252deg);
	  -ms-transform: rotate(252deg);
	  -o-transform: rotate(252deg);
	  transform: rotate(252deg);
}
.c100.p71 .bar {
	  -webkit-transform: rotate(255.6deg);
	  -moz-transform: rotate(255.6deg);
	  -ms-transform: rotate(255.6deg);
	  -o-transform: rotate(255.6deg);
	  transform: rotate(255.6deg);
}
.c100.p72 .bar {
	  -webkit-transform: rotate(259.2deg);
	  -moz-transform: rotate(259.2deg);
	  -ms-transform: rotate(259.2deg);
	  -o-transform: rotate(259.2deg);
	  transform: rotate(259.2deg);
}
.c100.p73 .bar {
	  -webkit-transform: rotate(262.8deg);
	  -moz-transform: rotate(262.8deg);
	  -ms-transform: rotate(262.8deg);
	  -o-transform: rotate(262.8deg);
	  transform: rotate(262.8deg);
}
.c100.p74 .bar {
	  -webkit-transform: rotate(266.4deg);
	  -moz-transform: rotate(266.4deg);
	  -ms-transform: rotate(266.4deg);
	  -o-transform: rotate(266.4deg);
	  transform: rotate(266.4deg);
}
.c100.p75 .bar {
	  -webkit-transform: rotate(270deg);
	  -moz-transform: rotate(270deg);
	  -ms-transform: rotate(270deg);
	  -o-transform: rotate(270deg);
	  transform: rotate(270deg);
}
.c100.p76 .bar {
	  -webkit-transform: rotate(273.6deg);
	  -moz-transform: rotate(273.6deg);
	  -ms-transform: rotate(273.6deg);
	  -o-transform: rotate(273.6deg);
	  transform: rotate(273.6deg);
}
.c100.p77 .bar {
	  -webkit-transform: rotate(277.2deg);
	  -moz-transform: rotate(277.2deg);
	  -ms-transform: rotate(277.2deg);
	  -o-transform: rotate(277.2deg);
	  transform: rotate(277.2deg);
}
.c100.p78 .bar {
	  -webkit-transform: rotate(280.8deg);
	  -moz-transform: rotate(280.8deg);
	  -ms-transform: rotate(280.8deg);
	  -o-transform: rotate(280.8deg);
	  transform: rotate(280.8deg);
}
.c100.p79 .bar {
	  -webkit-transform: rotate(284.4deg);
	  -moz-transform: rotate(284.4deg);
	  -ms-transform: rotate(284.4deg);
	  -o-transform: rotate(284.4deg);
	  transform: rotate(284.4deg);
}
.c100.p80 .bar {
	  -webkit-transform: rotate(288deg);
	  -moz-transform: rotate(288deg);
	  -ms-transform: rotate(288deg);
	  -o-transform: rotate(288deg);
	  transform: rotate(288deg);
}
.c100.p81 .bar {
	  -webkit-transform: rotate(291.6deg);
	  -moz-transform: rotate(291.6deg);
	  -ms-transform: rotate(291.6deg);
	  -o-transform: rotate(291.6deg);
	  transform: rotate(291.6deg);
}
.c100.p82 .bar {
	  -webkit-transform: rotate(295.2deg);
	  -moz-transform: rotate(295.2deg);
	  -ms-transform: rotate(295.2deg);
	  -o-transform: rotate(295.2deg);
	  transform: rotate(295.2deg);
}
.c100.p83 .bar {
	  -webkit-transform: rotate(298.8deg);
	  -moz-transform: rotate(298.8deg);
	  -ms-transform: rotate(298.8deg);
	  -o-transform: rotate(298.8deg);
	  transform: rotate(298.8deg);
}
.c100.p84 .bar {
	  -webkit-transform: rotate(302.4deg);
	  -moz-transform: rotate(302.4deg);
	  -ms-transform: rotate(302.4deg);
	  -o-transform: rotate(302.4deg);
	  transform: rotate(302.4deg);
}
.c100.p85 .bar {
	  -webkit-transform: rotate(306deg);
	  -moz-transform: rotate(306deg);
	  -ms-transform: rotate(306deg);
	  -o-transform: rotate(306deg);
	  transform: rotate(306deg);
}
.c100.p86 .bar {
	  -webkit-transform: rotate(309.6deg);
	  -moz-transform: rotate(309.6deg);
	  -ms-transform: rotate(309.6deg);
	  -o-transform: rotate(309.6deg);
	  transform: rotate(309.6deg);
}
.c100.p87 .bar {
	  -webkit-transform: rotate(313.2deg);
	  -moz-transform: rotate(313.2deg);
	  -ms-transform: rotate(313.2deg);
	  -o-transform: rotate(313.2deg);
	  transform: rotate(313.2deg);
}
.c100.p88 .bar {
	  -webkit-transform: rotate(316.8deg);
	  -moz-transform: rotate(316.8deg);
	  -ms-transform: rotate(316.8deg);
	  -o-transform: rotate(316.8deg);
	  transform: rotate(316.8deg);
}
.c100.p89 .bar {
	  -webkit-transform: rotate(320.4deg);
	  -moz-transform: rotate(320.4deg);
	  -ms-transform: rotate(320.4deg);
	  -o-transform: rotate(320.4deg);
	  transform: rotate(320.4deg);
}
.c100.p90 .bar {
	  -webkit-transform: rotate(324deg);
	  -moz-transform: rotate(324deg);
	  -ms-transform: rotate(324deg);
	  -o-transform: rotate(324deg);
	  transform: rotate(324deg);
}
.c100.p91 .bar {
	  -webkit-transform: rotate(327.6deg);
	  -moz-transform: rotate(327.6deg);
	  -ms-transform: rotate(327.6deg);
	  -o-transform: rotate(327.6deg);
	  transform: rotate(327.6deg);
}
.c100.p92 .bar {
	  -webkit-transform: rotate(331.2deg);
	  -moz-transform: rotate(331.2deg);
	  -ms-transform: rotate(331.2deg);
	  -o-transform: rotate(331.2deg);
	  transform: rotate(331.2deg);
}
.c100.p93 .bar {
	  -webkit-transform: rotate(334.8deg);
	  -moz-transform: rotate(334.8deg);
	  -ms-transform: rotate(334.8deg);
	  -o-transform: rotate(334.8deg);
	  transform: rotate(334.8deg);
}
.c100.p94 .bar {
	  -webkit-transform: rotate(338.4deg);
	  -moz-transform: rotate(338.4deg);
	  -ms-transform: rotate(338.4deg);
	  -o-transform: rotate(338.4deg);
	  transform: rotate(338.4deg);
}
.c100.p95 .bar {
	  -webkit-transform: rotate(342deg);
	  -moz-transform: rotate(342deg);
	  -ms-transform: rotate(342deg);
	  -o-transform: rotate(342deg);
	  transform: rotate(342deg);
}
.c100.p96 .bar {
	  -webkit-transform: rotate(345.6deg);
	  -moz-transform: rotate(345.6deg);
	  -ms-transform: rotate(345.6deg);
	  -o-transform: rotate(345.6deg);
	  transform: rotate(345.6deg);
}
.c100.p97 .bar {
	  -webkit-transform: rotate(349.2deg);
	  -moz-transform: rotate(349.2deg);
	  -ms-transform: rotate(349.2deg);
	  -o-transform: rotate(349.2deg);
	  transform: rotate(349.2deg);
}
.c100.p98 .bar {
	  -webkit-transform: rotate(352.8deg);
	  -moz-transform: rotate(352.8deg);
	  -ms-transform: rotate(352.8deg);
	  -o-transform: rotate(352.8deg);
	  transform: rotate(352.8deg);
}
.c100.p99 .bar {
	  -webkit-transform: rotate(356.4deg);
	  -moz-transform: rotate(356.4deg);
	  -ms-transform: rotate(356.4deg);
	  -o-transform: rotate(356.4deg);
	  transform: rotate(356.4deg);
}
.c100.p100 .bar {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
}
.c100:hover {
	  cursor: default;
}
.c100:hover > span {
	  width: 3.33em;
	  line-height: 3.33em;
	  font-size: 0.3em;
	  color: #307bbb;
}
.c100:hover:after {
	  top: 0.04em;
	  left: 0.04em;
	  width: 0.92em;
	  height: 0.92em;
}
.c100.dark {
	  background-color: #777777;
}
.c100.dark .bar,.c100.dark .fill {
	  border-color: #c6ff00 !important;
}
.c100.dark > span {
	  color: #b5b5b5;
}
.c100.dark:after {
	  background-color: #666666;
}
.c100.dark:hover > span {
	  color: #c6ff00;
}
.c100.green .bar, .c100.green .fill {
	  border-color: #4db53c !important;
}
.c100.green:hover > span {
	  color: #4db53c;
}
.c100.green.dark .bar, .c100.green.dark .fill {
	  border-color: #5fd400 !important;
}
.c100.green.dark:hover > span {
	  color: #5fd400;
}
.c100.orange .bar, .c100.orange .fill {
	  border-color: #dd9d22 !important;
}
.c100.orange:hover > span {
	  color: #dd9d22;
}
.c100.orange.dark .bar, .c100.orange.dark .fill {
	  border-color: #e08833 !important;
}
.c100.orange.dark:hover > span {
	  color: #e08833;
}
.text-overlay-light-text {
	  color:#cccccc !important;
}
/* = Snap Scroll Pagination-------------------------------------------------------------- */.snap-scroll-pagination {
		font-size:1.1em;
		list-style: none;
		padding:0 5px;
		position:fixed;
		left:20px;
		top: 50%;
	  	transform: translateY(-50%);
		z-index: 10;
}
.right-align.snap-scroll-pagination{
		right:20px;
		left: initial;
}
.snap-scroll-paginate-bg.snap-scroll-pagination{
		background: rgba(255,255,255,0.3);
		border-radius: 6px;
}
.snap-scroll-pagination a {
		display:block;
		color:rgba(0,0,0,.8);
		height:20px;
		width: 20px;
		margin:5px 0;
		position:relative;
}
.snap-scroll-paginate-dashes a{
		height:30px;
		width:8px;
}
.snap-scroll-pagination a .hover-text {
		color: rgba(0,0,0,0.5);
		position:absolute;
		display: none;
		left:35px;
		top:-5px;
		opacity:0;
		width:300px;
		-webkit-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
}
.snap-scroll-paginate-dashes.snap-scroll-pagination a .hover-text{
		top:2px;
}
.right-align.snap-scroll-pagination a .hover-text {
		text-align:right;
		right:35px;
		left:initial;
}
.snap-scroll-pagination a:hover .hover-text {
		opacity: 1;
		display: inline-block;
}
.snap-scroll-pagination a:after {
		content:"";
		-webkit-transition:box-shadow 0.5s ease;
		transition:box-shadow 0.5s ease;
		width:10px;
		height:10px;
		display: block;
		border:1px solid;
		border-radius:50%;
		position: absolute;
		margin:auto;
		top:0;
		left:5px;
		bottom:0;
}
.snap-scroll-paginate-dashes.snap-scroll-pagination a:after{
		background-color: transparent;
		width: 4px;
		height:20px;
		border-radius:0;
		left:2px;
		opacity: 0.5;
}
.snap-scroll-pagination a.active:after, .snap-scroll-paginate-dashes.snap-scroll-pagination a:after {
		box-shadow:inset 0 0 0 5px;
}
.snap-scroll-pagination a.active:after{
		opacity: 1;
}
.light-snap-scroll-theme.snap-scroll-pagination a, .light-snap-scroll-theme.snap-scroll-pagination a .hover-text{
		color:#FFF;
}
.light-snap-scroll-theme.snap-scroll-paginate-bg{
		background: rgba(0,0,0,0.3);
}
@media (max-width: 767px){
		.snap-scroll-pagination{
			left:5px;
	}
	.right-align.snap-scroll-pagination{
			right:5px;
			left: initial;
	}
}.samehtwrapper .display-in-blocs-edit-mode-only {
	  display:block;
	  position:relative;
	  height:40px;
	  padding-top:6px;
	  padding-left:10px;
	  font-size: 1.5em;
	  background-color: #cccccc}

/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.responsive-font{
		font-size:100%;
		text-align:center;
		text-transform:none;
		text-decoration:none;
		line-height:100%;
		font-weight:bold;
		text-shadow:0px 0px 1px #000000;
	}
	.responsize-font-small-location{
		font-size:100%;
		font-weight:normal;
		text-align:left;
		text-transform:none;
	}
	.technologies-mobile-margin-bottom{
		margin-bottom:20%;
	}
	.bottom-padding{
		padding-bottom:20%;
	}
	.icon-margin-bottom{
		margin-bottom:20%;
	}
	.card-border{
	}
	.icon-margin-bottom-small{
	}
	.img-style{
		height:219px;
		width:219px;
	}
	.img-html5-origin-style{
		width:219px;
		height:219px;
	}
	.card-border-yellow{
		border-style:solid;
		border-color:#F8D978!important;
		border-radius:6px 6px 6px 6px;
		border-width:3px 3px 3px 3px;
	}
	.hover-enlarge{
	}
	.card-header-border-bottom-yellow{
		border-style:solid;
		border-color:#F8D978!important;
		border-width:0px 0px 3px 0px;
	}
	.bottom-padding-small{
		padding-bottom:10%;
	}
	.hamburger-menu{
		color:#C83620!important;
		background-color:#AEAEAE;
	}
	.animation-scroll-faster{
		padding-top:35%;
		margin-top:-35%;
	}
	.animation-scroll-faster-small{
		padding-top:15%;
		margin-top:-15%;
	}
	.logo-center{
		margin-left:42%;
	}
	
}

@media (max-width: 767px){
	.img-6-style{
		width:156px;
		border-radius:79px 79px 79px 79px;
	}
	.card-mobile-margin-bottom{
		margin-bottom:10%;
	}
	.responsize-font-small-location{
		text-align:center;
		text-decoration:none;
	}
	.responsive-font{
		font-weight:normal;
		text-align:center;
	}
	.font-small{
		font-size:1.5rem;
	}
	.education-box{
		margin-bottom:20%;
	}
	.icon-margin-bottom{
	}
	.div-icon{
	}
	.img-style{
		width:150px;
		height:150px;
	}
	.img-html5-origin-style{
		width:150px;
		height:150px;
	}
	.img-10-style{
		width:150px;
		height:150px;
	}
	.img-python-origin-style{
		width:150px;
		height:150px;
	}
	.img-csharp-origin-style{
		width:150px;
		height:150px;
	}
	.img-13-style{
		width:150px;
		height:150px;
	}
	.card-border-cyan{
		border-style:solid;
		border-color:#73F8FC!important;
		border-radius:6px 6px 6px 6px;
		border-width:3px 3px 3px 3px;
	}
	.card-border{
	}
	.hamburger-menu{
		background-color:#C83620;
		width:40px;
	}
	.logo-center{
		margin-left:40%;
	}
	.sidebar-nav{
		width:230px!important;
	}
	.nav-special.sidebar-nav .nav > li{
		width:80%;
	}
	.nav-invert .sidebar-nav .close-special-menu{
		left:200px;
	}
	
}

@media (max-width: 575px){
	.footer-link{
		text-align:center;
	}
	.card-mobile-margin-bottom{
		margin-bottom:20%;
	}
	.education-box{
		margin-bottom:20%;
		margin-top:10%;
	}
	.icon-margin-bottom-small{
		margin-bottom:7%;
	}
	.icon-margin-bottom{
	}
	.img-css3-origin-style{
		width:120px;
		height:120px;
	}
	.img-photoshop-li-style{
		width:120px;
		height:120px;
	}
	.logo-center{
		margin-left:34%;
	}
	
}

.openingScene {
	background-color: black;
	width: 100%;
	height: 95vh;
  
	animation-name: opening;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
  }
  
  .trivia-logo {
	margin-top: 15%;
	width: 50;
  
	animation-name: logoTransition;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
  }
  
  @keyframes opening {
	0% {
	  opacity: 0.8;
	  transform: translateZ(5rem);
	}
	25% {
	  opacity: 0.9;
	  transform: translateZ(0);
	}
  
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes logoTransition {
	0% {
	  transform: translateX(-10%);
	}
	50% {
	  transform: translateX(55%);
	}
	60% {
	  transform: translateX(50%);
	}
	100% {
	  transform: translateX(50%);
	}
  }

